
<!-- Formulario de añadir/modificar productos -->
<div class="container mt-4">
  <h2>Añadir/ editar producto </h2> <!--Cambiará el nombre según se esté añadiendo o editando-->
  <form>
    <div class="mb-3">
      <label class="form-label">Nombre</label>
      <input type="text" class="form-control">
    </div>
    <div class="mb-3">
      <label class="form-label">Precio</label>
      <input type="number" class="form-control">
    </div>
    <div class="mb-3">
      <label class="form-label">Stock</label>
      <input type="number" class="form-control">
    </div>
    <button type="submit" class="btn btn-success">Guardar</button>
  </form>
</div>